@media (max-width: 768px) {
  .hidden {
    opacity: 0;
  }
}

/* Mobile Styles */
@media only screen and (max-width: 668px) {
  .about_me {
    height: auto; /* Adjust height to fit content */
    padding: 20px; /* Add padding for better spacing */
  }

  .abt_header p {
    font-size: 30px; /* Decrease font size for better readability */
  }

  .about_content {
    flex-direction: column; /* Stack items vertically */
    gap: 20px; /* Reduce gap between items */
    padding-top: 50px; /* Adjust top padding */
    justify-content: center;
    align-items: center;
  }

  .about_content img {
    width: 250px; /* Set fixed width for image */
    border-radius: 50%; /* Make the image circular */
    height: 250px; /* Set fixed height for image */
    object-fit: cover; /* Maintain aspect ratio */
  }

  .image,
  .about_content_dis {
    width: 100%; /* Make both sections full width */
    align-items: center; /* Center content */
    text-align: center; /* Center text content */
    margin: auto; /* Center the sections horizontally */
    justify-content: center;
  }

  .about_content_dis {
    gap: 15px; /* Reduce gap between text content */
  }

  .about_content_dis p {
    width: 100%; /* Make text content full width */
  }

  .title_dis h3 {
    font-size: 20px; /* Decrease font size for better readability */
  }
  section#Skills_content {
    padding-top: 122px;
  }
}
